/Makefile
/test/*.js
/test/*.map
/test/core/*.js
/test/directive/*.js
/test/filter/*.js
/test/utils/*.js
/src/filter/*.js
/src/parser/*.js
/src/*.map
/bin/
/tmp/
/node_modules
/test2/
/test/benchmark/*.js
